@charset "UTF-8";
:root {
  --brand-color-blue: #3f51b5;
  --brand-color-blue-light: #2196F3;
  --brand-color-blue-light-hover: #188CE8;
  --brand-color-black: #000000;
  --brand-color-black-light: #212121;
  --brand-color-black-dark: #2F303A;
  --brand-color-gray: #757575;
  --brand-color-gray-light: #F5F4FA;
  --brand-color-gray-border: #EEEEEE;
  --brand-color-gray-icon: #AFB1B8;
  --brand-color-white: #FFFFFF;
  --brand-color-header-line: #ECECEC;
  --brand-color-address: rgba(255, 255, 255, 0.6);
  --card-set-portfolio: 30px;
  --animation-duration: 250ms;
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  line-height: 1.17;
}

.address {
  font-size: 14px;
  line-height: 1.71;
  color: var(--brand-color-white);
  font-style: normal;
}
.address__street {
  margin-bottom: 5px;
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--brand-color-white);
  font-style: normal;
  text-decoration: none;
  display: block;
  color: var(--brand-color-address);
  -webkit-transition: color;
  transition: color;
  -webkit-transition-duration: var(--animation-duration);
          transition-duration: var(--animation-duration);
  -webkit-transition-timing-function: var(--animation-timing-function);
          transition-timing-function: var(--animation-timing-function);
}
.address__link__link:hover, .address__link__link:focus {
  color: var(--brand-color-blue-light);
}

.address__link:first-child {
  margin-bottom: 5px;
}

.auth-nav {
  list-style: none;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (max-width: 767px) {
  .auth-nav__item:last-child {
    margin-bottom: 32px;
  }
}
.auth-nav__link {
  text-decoration: none;
  line-height: 1.17;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--brand-color-gray);
  -webkit-transition: color;
  transition: color;
  -webkit-transition-duration: var(--animation-duration);
          transition-duration: var(--animation-duration);
  -webkit-transition-timing-function: var(--animation-timing-function);
          transition-timing-function: var(--animation-timing-function);
}
@media screen and (max-width: 767px) {
  .auth-nav__link {
    font-size: 28px;
  }
}
.auth-nav__item {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .auth-nav__link-big {
    font-size: 34px;
    color: var(--brand-color-blue-light);
  }
}
.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--brand-color-blue-light);
}
.auth-nav__icon-mail {
  display: none;
  height: 10px;
  width: 14px;
  fill: currentColor;
  margin-right: 10px;
}
.auth-nav__icon-phone {
  display: none;
  height: 14px;
  width: 10px;
  fill: currentColor;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .auth-nav__item:last-child {
    margin-top: 10px;
  }
  .auth-nav__icon-mail {
    display: inline-block;
  }
  .auth-nav__icon-phone {
    display: inline-block;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav__item {
    display: inline-block;
  }
  .auth-nav__item:last-child {
    margin-top: 0;
    margin-left: 30px;
  }
  .auth-nav__icon-mail {
    height: 12px;
    width: 16px;
  }
  .auth-nav__icon-phone {
    height: 16px;
    width: 10px;
  }
}

.benefits {
  margin: -15px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.benefits__item {
  margin: 15px;
}
.benefits__thumb {
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  background: var(--brand-color-gray-light);
  border-radius: 4px;
}
.benefits__icon {
  width: 70px;
  height: 70px;
}
.benefits__title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
}
.benefits__text {
  font-size: 14px;
  line-height: 1.714;
  color: var(--brand-color-gray);
}
@media screen and (min-width: 768px) {
  .benefits__title {
    text-align: left;
  }
  .benefits__text {
    width: 270px;
  }
}
.body-page {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--brand-color-white);
  color: var(--brand-color-black-light);
}

.body-page.modal-open {
  overflow: hidden;
}

.button-group {
  list-style: none;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -15px;
}
@media screen and (max-width: 767px) {
  .button-group {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1199px) {
  .button-group {
    margin-bottom: 50px;
  }
}
.button-group__item {
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  .button-group {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.button {
  padding: 6px 22px;
  margin: 0px 4px;
  color: var(--brand-color-black-light);
  background: var(--brand-color-gray-light);
  cursor: pointer;
  border: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;
  border-radius: 4px;
  -webkit-transition: color, background, -webkit-box-shadow;
  transition: color, background, -webkit-box-shadow;
  transition: color, background, box-shadow;
  transition: color, background, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--animation-duration);
          transition-duration: var(--animation-duration);
  -webkit-transition-timing-function: var(--animation-timing-function);
          transition-timing-function: var(--animation-timing-function);
}
.button:hover, .button:focus {
  color: var(--brand-color-white);
  background: var(--brand-color-blue-light);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card {
  display: inline-block;
  padding: 0;
}
@media screen and (min-width: 480px) {
  .card {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .card {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .card {
    width: 270px;
  }
}
.card__footer {
  padding-top: 30px;
  padding-bottom: 30px;
}
.card__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}
.card__text {
  margin-bottom: 16px;
  line-height: 1.17;
  text-align: center;
  color: var(--brand-color-gray);
}
.card__thumb {
  position: relative;
  overflow: hidden;
}
.card__image {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.custom-checkbox {
  margin-top: 20px;
  margin-bottom: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.71;
  color: var(--brand-color-gray);
}
@media screen and (min-width: 1200px) {
  .custom-checkbox {
    font-size: 14px;
  }
}
.custom-checkbox__link {
  font-size: 12px;
  text-align: left;
  line-height: 1.71;
  color: var(--brand-color-blue-light);
}
@media screen and (min-width: 1200px) {
  .custom-checkbox__link {
    font-size: 14px;
  }
}
.custom-checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.custom-checkbox__icon {
  margin-right: 8px;
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--brand-color-black-light);
  -webkit-transition: border, background;
  transition: border, background;
  -webkit-transition-duration: var(--animation-duration);
          transition-duration: var(--animation-duration);
  -webkit-transition-timing-function: var(--animation-timing-function);
          transition-timing-function: var(--animation-timing-function);
}
.custom-checkbox__input:checked + .custom-checkbox__icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2'/%3E%3Cpath d='m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z' fill='%23fff' stroke='%23fff' stroke-width='.2'/%3E%3C/svg%3E");
  border: 2px solid var(--brand-color-blue-light);
  background-color: var(--brand-color-blue-light);
  background-size: contain;
  background-origin: border-box;
}

.social-btns {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social-btns__btn {
  width: 44px;
  height: 44px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  color: var(--brand-color-gray-icon);
  background: none;
  border: none;
  border-radius: 50%;
  -webkit-transition: color, background-color;
  transition: color, background-color;
  -webkit-transition-duration: var(--animation-duration);
          transition-duration: var(--animation-duration);
  -webkit-transition-timing-function: var(--animation-timing-function);
          transition-timing-function: var(--animation-timing-function);
}
.social-btns__btn:hover, .social-btns__btn:focus {
  color: var(--brand-color-white);
  background-color: var(--brand-color-blue-light);
}
.social-btns__item:not(:first-child) {
  margin-left: 10px;
}
.social-btns__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
.logo {
  text-decoration: none;
  line-height: 1.19;
  font-size: 26px;
  color: var(--brand-color-black);
  font-family: "Raleway", sans-serif;
}
.logo__part {
  color: var(--brand-color-blue-light);
}

.header-page {
  position: relative;
  border-bottom: 1px solid var(--brand-color-header-line);
}
.header-page__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 80px;
}
.header-page__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-page__menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 999;
}
.header-page__menu-button:hover {
  color: var(--brand-color-blue-light);
}
@media screen and (min-width: 768px) {
  .header-page__menu-button {
    display: none;
  }
}
.header-page__icon {
  fill: currentColor;
}
.header-page__icon-close {
  display: none;
}
.header-page__menu-button.is-open .header-page__icon-close {
  display: block;
}
.header-page__menu-button.is-open .header-page__icon-menu {
  display: none;
}
.header-page__social-list {
  margin-top: 64px;
  list-style: none;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .header-page__social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header-page__social-list-item {
  color: rgba(33, 33, 33, 0.2);
}
.header-page__social-list-link {
  display: block;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--brand-color-blue-light);
}
.header-page__social-list-item:not(:first-child) {
  margin-left: 10px;
}
.header-page__menu-container {
  background-color: var(--brand-color-white);
  text-align: center;
  font-size: 20px;
  z-index: 998;
}
@media screen and (max-width: 767px) {
  .header-page__menu-container {
    display: none;
    padding: 48px 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }
  .header-page__menu-container.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .header-page__menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header-page__icon-menu {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.footer-page {
  text-align: center;
  padding: 60px 0;
  background: var(--brand-color-black-dark);
}
.footer-page__logo {
  margin-bottom: 20px;
  display: block;
  color: var(--brand-color-white);
}
@media screen and (min-width: 768px) {
  .footer-page__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer-page {
    text-align: left;
  }
  .footer-page__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.footer-social {
  margin-top: 12px;
}
.footer-social__title {
  padding-top: 60px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--brand-color-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.footer-social__btn {
  color: var(--brand-color-white);
  background: rgba(255, 255, 255, 0.1);
}
.footer-social__btn:hover, .footer-social__btn:focus {
  background-color: var(--brand-color-blue-light);
}
@media screen and (min-width: 768px) {
  .footer-social__title {
    padding-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 70px;
  }
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__button {
  margin: 0;
  padding: 10px 32px;
  min-width: 200px;
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: var(--brand-color-white);
  background: var(--brand-color-blue-light);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  line-height: 1.88;
  -webkit-transition: background;
  transition: background;
  -webkit-transition-duration: var(--animation-duration);
          transition-duration: var(--animation-duration);
  -webkit-transition-timing-function: var(--animation-timing-function);
          transition-timing-function: var(--animation-timing-function);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--brand-color-blue-light-hover);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hero__overlay {
  margin-right: auto;
  margin-left: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/mobile@2x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/mobile@2x.jpg);
  background-color: #C4C4C4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/mobile@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/mobile@2x.jpg);
  }
}
@media (min-width: 768px) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/tablet.jpg);
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/tablet@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/tablet@2x.jpg);
  }
}
@media (min-width: 1200px) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/desktop.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/desktop.jpg);
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi), (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/desktop@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/desktop@2x.jpg);
  }
}
.hero__title {
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: var(--brand-color-white);
}
.hero__backdrop {
  padding: 94px 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: var(--animation-duration);
          transition-duration: var(--animation-duration);
  -webkit-transition-timing-function: var(--animation-timing-function);
          transition-timing-function: var(--animation-timing-function);
  z-index: 999;
  overflow-y: scroll;
}
.hero__backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.hero__backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
  .hero__overlay {
    max-width: 1600px;
  }
}

.mailing {
  text-align: center;
}
.mailing__title {
  padding-top: 60px;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--brand-color-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.mailing__input {
  display: block;
  padding: 15px 16px;
  width: 100%;
  color: var(--brand-color-white);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .mailing__input {
    width: 450px;
  }
}
.mailing__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mailing__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mailing__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mailing__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mailing__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mailing__button {
  padding: 0;
  margin: 0 auto;
  margin-top: 20px;
  min-width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  letter-spacing: 0.06em;
  font-weight: 700;
  line-height: 1.9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  border: none;
  color: var(--brand-color-white);
  background: var(--brand-color-blue-light);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.mailing__button-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
@media screen and (min-width: 768px) {
  .mailing {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .mailing {
    margin-left: 93px;
    margin-top: 12px;
  }
  .mailing__input {
    margin-right: 12px;
    width: 358px;
  }
  .mailing__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mailing__button {
    margin-top: 0;
  }
  .mailing__title {
    padding-top: 0;
    text-align: left;
  }
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 450px;
  background-color: var(--brand-color-white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: var(--animation-duration);
          transition-duration: var(--animation-duration);
  -webkit-transition-timing-function: var(--animation-timing-function);
          transition-timing-function: var(--animation-timing-function);
}
@media screen and (max-width: 480px) {
  .modal {
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}
.modal__btn-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--brand-color-white);
  -webkit-transition: color;
  transition: color;
  -webkit-transition-duration: var(--animation-duration);
          transition-duration: var(--animation-duration);
  -webkit-transition-timing-function: var(--animation-timing-function);
          transition-timing-function: var(--animation-timing-function);
}
.modal__btn-close:hover, .modal__btn-close:focus-visible {
  color: var(--brand-color-blue-light);
}
.modal__btn-close-icon {
  width: 11px;
  height: 11px;
  fill: currentColor;
}
.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #212121;
}
.modal__field + .modal__field {
  margin-top: 10px;
}
.modal__input {
  padding: 10px 11px 10px 42px;
  line-height: 1.17;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border;
  transition: border;
  -webkit-transition-duration: var(--animation-duration);
          transition-duration: var(--animation-duration);
  -webkit-transition-timing-function: var(--animation-timing-function);
          transition-timing-function: var(--animation-timing-function);
}
.modal__input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__input::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__input::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__input:hover, .modal__input:focus {
  border: 1px solid var(--brand-color-blue-light);
}
.modal__input-comment {
  display: block;
  padding: 11px 15px;
  resize: none;
  height: 120px;
}
.modal__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal__decoration {
  display: block;
  position: relative;
}
.modal__field-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--brand-color-black-light);
  -webkit-transition: fill;
  transition: fill;
  -webkit-transition-duration: var(--animation-duration);
          transition-duration: var(--animation-duration);
  -webkit-transition-timing-function: var(--animation-timing-function);
          transition-timing-function: var(--animation-timing-function);
}
.modal__input:hover + .modal__field-icon, .modal__input:focus + .modal__field-icon {
  fill: var(--brand-color-blue-light);
}
.modal__field-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  text-align: start;
  letter-spacing: 0.01em;
  color: var(--brand-color-gray);
}
.modal__button {
  letter-spacing: 0.06em;
  font-weight: 700;
}

.personal-cards {
  text-align: center;
  margin: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  list-style: none;
}
.personal-cards__section {
  background: var(--brand-color-gray-light);
}
.personal-cards__item {
  display: inline-block;
  margin: 15px;
  background-color: var(--brand-color-white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .personal-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

/* Портфолио карточки */
.portfolio-card {
  margin: -15px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.portfolio-card__link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-transition: -webkit-box-shadow;
  transition: -webkit-box-shadow;
  transition: box-shadow;
  transition: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--animation-duration);
          transition-duration: var(--animation-duration);
  -webkit-transition-timing-function: var(--animation-timing-function);
          transition-timing-function: var(--animation-timing-function);
}
.portfolio-card__image {
  display: block;
  max-width: 100%;
  height: auto;
}
.portfolio-card__link:hover, .portfolio-card__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-card__item {
  width: 370px;
  margin: 15px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-card__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-card__item {
    -ms-flex-preferred-size: calc(33.3333333333% - 30px);
        flex-basis: calc(33.3333333333% - 30px);
  }
}
.portfolio-card__decor {
  padding: 20px 23px 19px 24px;
  border: 1px solid var(--brand-color-gray-border);
  border-top: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.portfolio-card__title {
  color: var(--brand-color-black-light);
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-card__text {
  line-height: 1.88;
  color: var(--brand-color-gray);
}
.portfolio-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: var(--animation-duration);
          transition-duration: var(--animation-duration);
  -webkit-transition-timing-function: var(--animation-timing-function);
          transition-timing-function: var(--animation-timing-function);
}
.portfolio-card__link:hover .portfolio-card__overlay, .portfolio-card__link:focus .portfolio-card__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.portfolio-card__overlay-text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--brand-color-white);
}
.portfolio-card__thumb {
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .portfolio-card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-card {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.portfolio-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Секция Постоянные клиенты */
.regular-customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -15px;
  list-style: none;
}
.regular-customers__item {
  margin: 15px;
}
.regular-customers__icon {
  fill: currentColor;
  max-width: 106px;
  max-height: 60px;
}
.regular-customers__button {
  width: 210px;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 92px;
  color: var(--brand-color-gray-icon);
  cursor: pointer;
  border: 1px solid var(--brand-color-gray-icon);
  border-radius: 4px;
  background-color: var(--brand-color-white);
  -webkit-transition: color, border;
  transition: color, border;
  -webkit-transition-duration: var(--animation-duration);
          transition-duration: var(--animation-duration);
  -webkit-transition-timing-function: var(--animation-timing-function);
          transition-timing-function: var(--animation-timing-function);
}
@media screen and (min-width: 768px) {
  .regular-customers__button {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .regular-customers__button {
    width: 170px;
  }
}
.regular-customers__button:hover, .regular-customers__button:focus {
  color: var(--brand-color-blue-light);
  border: 1px solid var(--brand-color-blue-light);
}
@media screen and (min-width: 480px) {
  .regular-customers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section {
  padding: 60px 0;
}
.section__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.site-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .site-nav {
    margin-left: 88px;
  }
}
.site-nav__link {
  display: block;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--brand-color-black-light);
  -webkit-transition: color;
  transition: color;
  -webkit-transition-duration: var(--animation-duration);
          transition-duration: var(--animation-duration);
  -webkit-transition-timing-function: var(--animation-timing-function);
          transition-timing-function: var(--animation-timing-function);
}
@media screen and (max-width: 767px) {
  .site-nav__link {
    font-size: 40px;
    text-align: left;
  }
}
.site-nav__link:hover, .site-nav__link:focus, .site-nav__link--active {
  color: var(--brand-color-blue-light);
}
.site-nav__item {
  position: relative;
}
@media screen and (max-width: 767px) {
  .site-nav__item:not(:first-child) {
    margin-top: 32px;
  }
}
.site-nav__link::after {
  display: none;
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  margin-top: 29px;
  background-color: var(--brand-color-blue-light);
  border-radius: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
  -webkit-transition-duration: var(--animation-duration);
          transition-duration: var(--animation-duration);
  -webkit-transition-timing-function: var(--animation-timing-function);
          transition-timing-function: var(--animation-timing-function);
}
@media screen and (min-width: 768px) {
  .site-nav__link::after {
    display: block;
  }
}
.site-nav__link:hover::after, .site-nav__link:focus::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.site-nav__link--active::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .site-nav__item:not(:first-child) {
    margin-left: 50px;
  }
}

.workers {
  display: none;
  padding-top: 0;
}
@media screen and (min-width: 1200px) {
  .workers {
    display: block;
  }
}
.workers__list {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.workers__item {
  margin: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 370px;
}
.workers__thumb {
  position: relative;
}
.workers__image {
  display: block;
  max-width: 100%;
  height: auto;
}
.workers__text {
  color: var(--brand-color-white);
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-size: 14px;
}
.workers__decor {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100%;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8)));
  background: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}/*# sourceMappingURL=main.css.map */