.custom-checkbox {
    margin-top: 20px;
    margin-bottom: 30px;
    display:inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    line-height: 1.71;
    color: var(--brand-color-gray);

    @media screen and (min-width: 1200px) {
            font-size: 14px;
        }

&__link {
    font-size: 12px;
    text-align: left;
    line-height: 1.71;
    color: var(--brand-color-blue-light);
    
    @media screen and (min-width: 1200px) {
        font-size: 14px;
    }
}

&__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
&__icon {
    margin-right: 8px;
    display: inline-block;
    width: 16px;
    height: 15px;
    border-radius: 2px;
    border: 2px solid var(--brand-color-black-light);

    transition: border, background;
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--animation-timing-function);

}

&__input:checked+&__icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2'/%3E%3Cpath d='m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z' fill='%23fff' stroke='%23fff' stroke-width='.2'/%3E%3C/svg%3E");
    border: 2px solid var(--brand-color-blue-light);
    background-color: var(--brand-color-blue-light);
    background-size: contain;
    background-origin: border-box;
}

}