.footer-social {
    margin-top: 12px;
    

&__title {
    padding-top: 60px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--brand-color-white);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

&__btn {
    color: var(--brand-color-white);
    background: rgba(255, 255, 255, 0.1);
}

&__btn:hover,
&__btn:focus {
    background-color: var(--brand-color-blue-light);
}

@media screen and (min-width: 768px) {
    & {
        // padding-left: 165px;
    }
    &__title {
        padding-top: 0;
    }
 }
 @media screen and (min-width: 1200px) {
     & {
        margin-left: 70px;
     }
 }
}