.header-page {
    border-bottom: 1px solid var(--brand-color-header-line);


&__nav {
    align-items: center;
    // display: flex;
}

&__container {
    // display: flex;
    align-items: center;
}
}