.hero {
    // display: none;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;

&__button {
    margin: 0;
    padding: 10px 32px;
    min-width: 200px;
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    letter-spacing: 0.03em;
    color: var(--brand-color-white);
    background: var(--brand-color-blue-light);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    line-height: 1.88;

    transition: background;
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--animation-timing-function);
}
&__button:hover,
&__button:focus {
    background-color: var(--brand-color-blue-light-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}

&__overlay {
    margin-right: auto;
    margin-left: auto;
    // max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    background-color: #C4C4C4;    
    background-position: center;
    background-repeat: no-repeat;
}

&__title {
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--brand-color-white);
}

&__backdrop {
    padding: 94px 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition-property: opacity;
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--animation-timing-function);
    z-index: 999;
    overflow-y: scroll;
}

&__backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
&__backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
}

@media screen and (min-width: 1200px) {
    &__overlay {
    max-width: 1600px;
    }
}

}