.logo {
    // margin-right: 93px;
    text-decoration: none;
    line-height: 1.19;
    
    font-size: 26px;
    color: var(--brand-color-black);
    font-family: 'Raleway', sans-serif;


&__part {
    color: var(--brand-color-blue-light);
}
}