/* Портфолио карточки */
.portfolio-card {
    margin: -15px;
    list-style: none;
    // margin-top: calc(-1 * var(--card-set-portfolio));
    // margin-left: calc(-1 * var(--card-set-portfolio));
    // display: flex;
    // flex-wrap: wrap;


&__link {
    text-decoration: none;
    display: block;

    transition: box-shadow;
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--animation-timing-function);
}

&__image {
    display: block;
    max-width: 100%;
    height: auto;
}

&__link:hover,
&__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

&__item {
    margin: 15px;
    @media screen and (min-width: 768px) {
            width: 354px;
        }
    
        @media screen and (min-width: 1200px) {
            width: 370px;
        }
    // margin-top: var(--card-set-portfolio);
    // margin-left: var(--card-set-portfolio);
    // flex-basis: calc(100% / 3 - var(--card-set-portfolio));
}

&__decor {
    padding: 20px 23px 19px 24px;
    border: 1px solid var(--brand-color-gray-border);
    border-top: none;
}

&__title {
    color: var(--brand-color-black-light);
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

&__text {
    line-height: 1.88;
    color: var(--brand-color-gray);
}
&__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);

    transition-property: transform;
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--animation-timing-function);
}

&__link:hover &__overlay,
&__link:focus &__overlay {
    transform: translateY(0);
}

&__overlay-text {
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--brand-color-white);
}

&__thumb {
    position: relative;
    overflow: hidden;
}

@media screen and (min-width: 480px) {
      & {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1200px) {}


}