.site-nav {
    align-items: center;
    list-style: none;
@media screen and (max-width: 767px) {
    }
@media screen and (min-width: 768px) {
    margin-left: 88px;
}
&__link {
    // padding: 32px 0;
    display: block;

    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--brand-color-black-light);
    
    transition: color;
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--animation-timing-function);
    
    @media screen and (max-width: 767px) {
        font-size: 40px;
        text-align: left;
    }
}

&__link:hover,
&__link:focus,
&__link--active {
    color: var(--brand-color-blue-light);
}



&__item {
    position: relative;
    
    &:not(:first-child){
       @media screen and (max-width:767px) {
        margin-top: 32px;
    } 
    }
    
}



&__link::after {
    display: none;
    position: absolute;
    content: "";
    
    height: 4px;
    width: 100%;
    margin-top: 29px;
    background-color: var(--brand-color-blue-light);
    border-radius: 2px;
    transform: scaleX(0);
    transition: transform;
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--animation-timing-function);
    
    @media screen and (min-width: 768px) {
        display: block;
    }
}

&__link:hover::after,
&__link:focus::after {
    transform: scaleX(1);
}

&__link--active::after {
    transform: scaleX(1);
}

@media screen and (min-width: 768px) {
    & {
        display: flex;
    }
&__item:not(:first-child) {
        margin-left: 50px;
    }
}

}