.workers {
    list-style: none;
    // display: flex;


&__section {
    padding-top: 0;
}

&__item:not(:first-child){
    // margin-left: 30px;
}

&__thumb {
    position: relative;
}

&__image {
    display: block;
    max-width: 100%;
    height: auto;
}

&__text {
    color: var(--brand-color-white);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

&__decor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}
}