:root {
    --brand-color-blue: #3f51b5;
    --brand-color-blue-light: #2196F3;
    --brand-color-blue-light-hover: #188CE8;
    --brand-color-black: #000000;
    --brand-color-black-light: #212121;
    --brand-color-black-dark: #2F303A;
    --brand-color-gray: #757575;
    --brand-color-gray-light: #F5F4FA;
    --brand-color-gray-border: #EEEEEE;
    --brand-color-gray-icon: #AFB1B8;
    --brand-color-white: #FFFFFF;
    --brand-color-header-line: #ECECEC;
    --brand-color-address: rgba(255, 255, 255, 0.6);
    --card-set-portfolio: 30px;
    --animation-duration: 250ms;
    --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}